<% include header.html %>
<body onload="javascript: reCalc('str','vit','wis','points'); onloadHome();">
	<% include bar.html %>
	<form action="/toSave" id="home">
		<div id="manual" title="Game Manual" >
			manual
		</div>

		<div style="display: table;">
			<div id="containerSide">
				<br />
					<label style="float:center;">Name:</label>	<br />
					<input type="name" name="name" value="<%= account.name  %>" onchange="checkName(this);"/><br />
					<input type="name" name="nameHidden" id="nameHidden" value="<%= account.name  %>" style="display: none;"/>

					<div>
						<img id="nameOK" src='imgs/icon_ok.png' style="margin-right:20px;float:right; display:none;">
						<img id="nameWarn" src='imgs/icon_warn.png' style="margin-right:20px;float:right; display:none;">
						<label id="nameMsg"></label>
					</div>
					<br/>
					<label>Str:</label>	<br />
					<input type="name" name="str" id="str" value="<%= account.str %>" onkeyup="javascript: reCalc('str','vit','wis','points');" /> <br />
			
					<label>Vit:</label>	<br />
					<input type="name" name="vit" id="vit" value="<%= account.vit %>" onkeyup="javascript: reCalc('str','vit','wis','points');" /> <br />

					<label>Wis:</label>	<br />
					<input type="name" name="wis" id="wis" value="<%= account.wis %>" onkeyup="javascript: reCalc('str','vit','wis','points');" /> <br />

					<div style="float: right; padding-right: 20px;">
						<label>Points: </label><input id="points" value="<%= account.points%>" disabled="true" /><br />
						<a href="#" onclick="javascript: manualOpen();">Game Manual</a>
					</div>
					
			</div>
			<div id="containerSide">
					<label>Battl3 Algorithm:</label>
					<br />
					<textarea id="func" name="func" rows="20" cols="40"><%= account.func %></textarea> <br />

					<label>My Battl3 URL(Share to people battl3 you!): </label> <br />
					<input id="idhidden" type="hidden" value='<%= account._id %>' />
					<label style="color: blue;" id="url" ></label>
			</div>
			<div id="containerSide">
				<div style="margin-top: 20px;">
					Your lasts battl3s
				</div>
				<% for(var i=0; i < myBattles.length; i++) { var battle = myBattles[i]; %>
					<div style="margin-top: 20px; float:left; position: absolute;">
						<a href="/hist/<%= battle._id %>">Watch > <%= battle.player.name %> VS. <%= battle.enemy.name %></a>
					</div>
				<% } %>
				<div style="margin-top: 50%;">
					<br/>Lasts World battl3s
				</div>
				<% if(worldBattles) for(var i=0; i < worldBattles.length; i++) { var battle = worldBattles[i]; %>
					<div style="margin-top: 20px;float:left; position: relative;">
						<a href="/hist/<%= battle._id %>">Watch > <%= battle.player.name %> VS. <%= battle.enemy.name %></a>
					</div><br/>
				<% } %>
			</div>
		</div>
		<div style="float: left; margin-left: 20px;">
			<input type="submit" value="Save">
			<input type="submit" id="logout" value="Logout">
		</div>

	<% if(dialog) {%>
		<div id="dialog" title="<%= dialog.title %>" class="dialog">
			<p><%= dialog.msg %></p>
		</div>
	<% } %>
	</form>
	
	<!-- donation -->
	<div class="donation">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="4NS3GW7FAK8ZQ">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>
	
	<div class="balloon">
		<div class="arrow"></div>
		<label style="color:blue;">Make your donation!</label><br/><br/>
		If we obtain 100 BRL, I'll implement <br/>
			3 new items;<br/>
			3 new classes (warrior, wizard, thief);<br/>
			implement equipament feature;<br/>
			<br/>
	</div>
</body>
<% include footer.html %>

