<% include header.html %>

	<% include bar.html %>
	<div id="container">
		<form action="/toLogin" method="POST">

			<label for="name">User</label>
			<input type="name" name="user">

			<label for="username">Password</label>
			<input type="password" name="pass">
			
			<% if (error) { %>
				<label class="error" id="error"> <%= error %></label>
			<% }%>
			<a href="/register">Register</a>
			
			<div id="lower">
				<input type="submit" value="Login">
			</div>
		</form>
	</div>

	<div class="donationLogin">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="4NS3GW7FAK8ZQ">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>
	
	<div class="balloon">
		<div class="arrow"></div>
		<label style="color:blue;">Make your donation!</label><br/><br/>
		If we obtain 100 BRL, I'll implement <br/>
			3 new items;<br/>
			3 new classes (warrior, wizard, thief);<br/>
			implement equipament feature;<br/>
			<br/>
	</div>

<% include footer.html %>

