<html>
	<head>
	</head>
	<body>
		<label style="color:red">What is Battl3.js</label><br/><br/>
		Battl3.js is a game for coders, where the point is create a user,
		infome your status like Str, vit and wis and a function.
		
		The algorithm is based on javascript syntax but has some limitations like
		create a function or return something.
		
		With everything setup you can contact some friend who has a Batll3.js user too,
		and both of you will battle.  
		
		<br/><label style="color:red">User Creation</label><br/><br/>
		In the home page, you have to choose a name and the attributes, of your
		user, the attributes are, STR (Strenght), VIT (Vitality), WIS (Wisdom).
		
		STR influences your physical damage, VIT in your user HP and WIS in your
		Magical damage and MP.
		
		The seconds attributes are HP and MP, where HP is the user life and when
		its reach 0, your user die, MP are the points that you user to use magic.
		
		<br/><label style="color:red">The Algorithm</label><br/><br/>
		 
		 Your algorithm are called in your turn of the battle, and your algorithm
		 will decide what action your user will take, like use potion, punch and etc.
		 	
		 	To make a action you have to use the action object who have the
		 	actions functions like punch, you can call these actions many times you
		 	want, but just the last one you be valid.
		 	
		 To use the action object you have to use the object 'self', self is a 
		 object that represents your user, so, to make a action of punch, you write,
		 'self.action.punch(target);', the argument of punch is the target,
		 the target can be self (yourself) or enemy (your opponent),
		 future we will implement cure magic, damage potion and so, and the 
		 target will be useful;
		 
		 To use magic is simple too, now the game have just two magics, fire and ice,
		 who can be called that way, 'self.action.fire(target);' or 'self.action.ice(target);',
		 
		 The items now is just based on 'Cure Potion', you algorithm can check the potion amount in,
		 self.items, that is a JSON Array, so to see your first item is self.items[0],
		 to check the quantity of the item is 'self.items[0].quantity' the value returned is
		 the item quantity in your user, for use write 'self.action.use(item, target);'
		 to get the item remember just use the array, 'self.action.use(self.items[0], enemy)'.
		 
		 The json is
		 <br/><br/>
		 <textarea rows="20" cols="50">
		 player:
		 {
		 	name,
		 	hp,
		 	mp,
		 	action :
		 	{
		 		punch: function(target),
		 		ice: function(target),
		 		fire: function(target),
		 		use: function(item, target)
		 	},
		 	items :
		 	[
		 		{
		 			name,
		 			quantity
		 		}	
		 	]
		 }	
		 </textarea>
		 <br/>
		 <textarea rows="6" cols="50">
		 enemy:
		 {
		 	name,
		 	hp,
		 	mp
		 }	
		 </textarea>
		 <br/>
		 You can see the battle history too:
		 <br/>
		 <textarea rows="6" cols="50">
		 msgSys :
		 {
		 	action,
		 	result,
		 	actor
		 }	
		 </textarea>
		<br/> 
		<br/><label style="color:red">Maths</label><br/><br/>		 		 

		Punch = STR*1.5;<br/>
		Fire = WIS*3;<br/>
		Ice = WIS*1.1 (And reduce the target STR);<br/>
		CurePotion = HP+30;<br/>
		HP = 100+(VIT*5);<br/>
		MP = WIS*8; </br>
	</body>
</html>
